html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* --------------------------------- */

h1 {
  border: 1px dotted blue
}

.recipes-container {
  border: 1px brown solid;
}
